{% extends "blog.html" %}

{% macro render_blog(title, description, time, url, page) -%}
<article class="entry">
    {% if page.meta['header'] %}
        <a href="{{ url }}" target="_self" class="entry-header" style="background-image: url('{{ page.meta['header'] }}');" title="{{ title }}"></a>
    {% endif %}
    <div class="entry-meta">
        {% if page.meta['date'] %}
            <span class="entry-date" aria-description="The article's date">{{ page.meta['date'] }}</span>
        {% endif %}
        <h3>
            <a href="{{ url }}" target="_self">
                <span class="entry-title">{{ title }}</span>
            </a>
        </h3>
        {% if description %}
            <p class="entry-desc">{{ description }}</p>
        {% endif %}
        {% if show_tags and "tags" in page.meta %}
            {% call render_tags(page.meta["tags"], index_url) %}
            {% endcall %}
        {% endif %}
        <a href="{{ url }}" target="_self" aria-label="Continue reading">
            <span>Continue reading…</span>
        </a>
    </div>
</article>
{{ caller() }}
{%- endmacro %}