<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{{ config.site_url }}assets/normalize.css">
    <link rel="stylesheet" href="{{ config.site_url }}assets/archive.css">

</head>
<body>

    <nav>
        <div>
            <a target="_self" href="/">Home</a>
        </div>
        {% include 'nav.html' %}
    </nav>

    <main>
        {{ page.content }}
    </main>

    <script>
    
        document.addEventListener('DOMContentLoaded', () => {
            window.addEventListener('hashchange', function() {
                if (location.hash !== '#blog-p1') {
                    document.querySelectorAll('.entry').forEach(el => {
                        if(location.hash === '#show-all') {
                            el.classList.remove('hide');
                        } else {
                            if(!el.querySelectorAll('a[href="'+location.hash+'"]').length){
                                el.classList.add('hide');
                            } else {
                                el.classList.remove('hide');
                            }
                        }
                    });
                }
            }, false);
        })

    </script>

</body>
</html>